canvas{
  position: fixed;
  top: 0;
  left: 0;
}
p a
{
  position: absolute;
  z-index: 100%;
  display: block;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: blueviolet;
  font-size: 6dvi;
  animation-name: Pulsing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes Pulsing 
{
  0%{font-size: 6dvi;}
  50%{font-size: 6.5dvi;}
  100%{font-size: 6dvi;}
}
.jersey-15-regular {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}